.about{
    display: flex;
}

.about__left, .about__right{
    width: 50%;
}

.about__left{
    background: #f2f0e8;
}

.about__left-container{
    display: flex;
}

.block-title{
    color: #474b57;
}

.about__left-content{
    width: 443px;
}

.block-subtitle{
    font-size: 35px;
    color: #474b57;
}

.user-description__avatar-pic{
    height: 392px;
}

.user-description__avatar-img{
    height: 100%;
}

.text-content p{
    font-size: 16px;
    color: #474b57;
}

.about__right{
    background: #eae8e2;
}

ul.skills-list, ul.skills-row__list{
    list-style: none;
}

.skills-row__title{
    font-size: 28px;
    color: #474b57;
}

.skill__title{
    color: #243994;
    font-size: 13.96px;
}