extends ../base

block content
  .wrapper

    include ../../_mixins/header/header.pug
    - var title = {show: true, text: 'блог'}
    - var arrow = {show: false}
    - var hamburger = {show: true}
    - var button = {show: false}
    +header(title, arrow, hamburger, button)
      
    section.section.about
      .about__left
        .triangle.tringle_fill_white.about__left-triangle
        .about__left-container
          .about__left-title
            .block-title Обо мне
          .about__left-content
            .user-description
              .user-description__image
                .user-description__avatar-pic
                  img.user-description__avatar-img(src=require('./photo.jpg') alt="")
              .user-description__title
                .block-subtitle Кто я
              .user-description__text.text-content
                p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      
      .about__right
        .triangle.tringle_fill_beige.about__right-triangle
        .about__right-title
          .block-subtitle Чем я могу быть вам полезен
        .about__right-text.text-content
          p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .about__right-content
          ul.skills-list
            each item in ['Frontend', 'Backend', 'Workflow']
              li.skills-list__item
                .skills-row
                  .skills-row__title #{item}
                  ul.skills-row__list
                    each skill in ['Html5', 'css3', 'JavaScript']
                      li.skills-row__item
                        .skill
                          svg.skill__circle
                          .skill__title #{skill}
    section.section.map
      .google-map
      .map__contacts
        .contacts
          .contacts__title
            .block-subtitle Контакты
          ul.contacts__list
              li.contacts__item
                .contacts-row
                  .contacts-row__icon
                  .contacts-row__content shatterfry
              li.contacts__item
                .contacts-row
                  .contacts-row__icon
                  .contacts-row__content +7 919 983 04 71
              li.contacts__item
                .contacts-row
                  .contacts-row__icon
                  .contacts-row__content nikwhite333@gmail.com
              li.contacts__item
                .contacts-row
                  .contacts-row__icon
                  .contacts-row__content Волгоград, ул. 64-й армии д.38б
      
  include ../../_mixins/footer/footer.pug
  +footer