extends ../base
block head
    title about page
block content
    header.header
        div.header__name Никита Каверин
        div.header__desc Личный сайт веб-разработчика
    div.content
        h1 обо мне
        section.who
            img(src="", alt="").who__photo
            h2.who__title кто я
            p.who__desc Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p.who__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
