html{
    min-height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
}

.wrapper{
    position: relative;
    min-height: 100%;
    //min-width: calc(1461px + 10px); /* Обязательно указать минимальную ширину примерно на */
    height: auto !important;
    /*overflow: hidden;*/
}

.wrapper:after{
    content: "";
    height: 185px;
    display: block;
}

.block-title{
    font-size: 63px;
    text-transform: uppercase;
}