mixin user(title)
    .user.hero__user
        .user__avatar
            .user__avatar-pic
                img.user__avatar-img(src=require("../../images/photo.jpg") alt="photo")

        if title.show
            h1.user__title #{title.text}
        else
            .user__name Каверин Никита
        .user__info Личный сайт разработчика
        .user__row.user__row_socials
            +socials
        .btns
            a(href="#").btns__btn.btns__btn_num_3 Мои работы
            a(href="#").btns__btn.btns__btn_num_3 Обо мне
            a(href="#").btns__btn.btns__btn_num_3 Блог