extends ../base

block head
    title index page
    
block content
    .wrapper
        //-img.page-bg(src=require("./bg.jpg"))

        - var title = {show: false, text: 'блог'}
        - var arrow = {show: false}
        - var hamburger = {show: false}
        - var button = {show: true}
        +header(title, arrow, hamburger, button)

        section.section.auth
            h1.auth__title авторизуйтесь
            form.auth__form.form-container
                input(name="login" id="login" placeholder="Логин")
                input(name="password" id="password" placeholder="Пароль")
                .form-container__human
                    input(type="checkbox" name="human" id="human")
                    label(for="human") Я человек
                .auth__subtitle Вы точно не робот?
                .form-container__robot
                    input(type="radio" name="robot-no" id="robot-no")
                    label(for="robot-no") Да
                    input(type="radio" name="robot-yes" id="robot-yes")
                    label(for="robot-yes") Не уверен
            .form-container__btns
                .btns
                    a(href="#" class="btns__btn") На главную
                    button(type="submit" class="btns__btn") Войти

    +footer('transparent')