extends ../base
block head
    title index page
block content
    .wrapper
        img.page-bg(src=require("./bg.jpg"))
        section.section.auth
            h1.auth__title авторизуйтесь
            form.auth__form.form-container
                input(name="login" id="login" placeholder="Логин")
                input(name="password" id="password" placeholder="Пароль")
                .form-container__human
                    input(type="checkbox" name="human" id="human")
                    label(for="human") Я человек
                .auth__subtitle Вы точно не робот?
                .form-container__robot
                    input(type="radio" name="robot-no" id="robot-no")
                    label(for="robot-no") Да
                    input(type="radio" name="robot-yes" id="robot-yes")
                    label(for="robot-yes") Не уверен
            .form-container__btns
                .btns
                    a(href="#" class="auth__btn") На главную
                    button(type="submit" class="auth__btn") Войти

        a(href="#").auth.hero__auth
        .hero__title
            .section-title
                
            .hero__user
                .user
                    .user__pic
                        img.user__pic-img
                    .user__description
                        .user__name Никита Каверин
                        .user__date Личный сайт веб-разработчика
                    .user__socials
                        ul.socials
                            each item in ['vk', 'gt', 'in']
                                li.socials__item
                                    a(href=`${item}`).socials__link
                    .user__menu
    a(href="#") Авторизоваться
    h1 Никита Каверин
    span.desc Личный сайт веб разработчика
    img(src=require('./webpack.svg'), width="100")
    
    include ../../components/footer/footer.pug