.page-bg{
    width: 100%;
}

.auth{
    display: flex;
    display: none;
    width: 380px;
    flex-flow: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(28, 31, 41, 0.5);
}

.auth__title{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.form-container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#login{
    width: 340px;
    margin-bottom: 20px;
}

#password{
    width: 340px;
    margin-bottom: 20px;
}

.form-container__human{
    width: 86px;
}

.auth__subtitle{
    color: #fff;
    font-size: 15.98px;
    text-align: center;
}

.form-container__robot{
    width: 125px;
}

.btns{
    display: flex;
    justify-content: space-between;
    background: #dee3e7;
}

.btns__btn{
    //width: 49%;
    text-align: center;
    background: #0548be;
    border: 0;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
}

.btns__btn_num_3{
    //width: 34%;
}

.section-title__pic{
    width: 100%;
}