extends ../base
block head
    title index page
block content
    a(href="#") Авторизоваться
    h1 Никита Каверин
    span.desc Личный сайт веб разработчика
    img(src=require('./webpack.svg'), width="100")
    