extends ../base
block head
    title blog page
block content
    header.header
        h1 блог
    div.content
        section.posts
            article.posts__item
                h2.posts__item_title Самое важное в SASS
                span.posts__item_date 22 ноября 2016
                p.posts__item_content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.