extends ../base
block head
    title Мой блог
block content
    .wrapper
        include ../../_mixins/header/header.pug
        - var title = {show: true, text: 'блог'}
        - var arrow = {show: false}
        - var hamburger = {show: true}
        - var button = {show: false}
        +header(title, arrow, hamburger, button)
        .blog-content
            aside.blog-content__aside.side-menu
                ul.side-menu__list
                    li.side-menu__item Самое важное в SASS
                    li.side-menu__item Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.side-menu__item Самый необходимый набор Gulp плагинов
                    li.side-menu__item Почему я выбрал Jade
            section.blog-content__posts.posts
                ul.posts__list
                    li.posts__item.post
                        h2.post__title Самое важное в SASS
                        span.post__date 22 ноября 2016
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                    li.posts__item.post
                        h2.post__title Приёмы в вёрстке, без которых не обходится ни один сайт
                        span.post__date 13 ноября 2016
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
    include ../../_mixins/footer/footer.pug
    +footer