footer.footer
    .footer__row
        .container
            .footer__col.footer__col-left
                .footer__description Этот сайт я сделал в рамках обучения в Школе онлайн-образования LoftSchool
            .footer__col.footer__col-center
                nav.menu
                
    .footer__row
        .container
            .footer__copyright
                .copyright