ul.socials
    li.socials__item
        a(href="" class=`socials__item socials__item_vk`)
            img(src=require("./vk.svg") alt="")
    li.socials__item
        a(href="" class=`socials__item socials__item_gt`)
            img(src=require("./github.svg") alt="")
    li.socials__item
        a(href="" class=`socials__item socials__item_in`)
            img(src=require("./in.svg") alt="")
            -//use(xlink:href="images/sprite.svg#git")
            -//use(xlink:href="images/github.svg")
            -//use(xlink:href="#github")
            -//use(xlink:href=require("./sprite.svg")+'#'+'git')
                