.footer{
    width: 100%;
    //min-width: 970px;
    height: 185px;
    margin-top: -185px;
}

.footer__row:nth-child(1){
    display: grid;
    height: 147px;
    background: rgba(28, 31 ,41 ,0.85);
}

.footer__row:last-child::after{
    display: block;
    content: '';
    height: 4px;
    background: #fff;
}

.footer__copyright{
    height: 38px;
    text-align: center;
    background: rgba(8, 60, 150, 0.85);
}