mixin footer
    footer.footer
        .footer__row
            .footer-container
                .footer__col.footer__col-left
                    .footer__description Этот сайт я сделал в рамках обучения в Школе онлайн-образования LoftSchool
                .footer__col.footer__col-center
                    nav.footer-menu
                        li.footer-menu__item Мои работы
                    .footer__socials
                        include ../../components/socials/socials.pug
                .footer__col.footer__col-right
                    .footer__address
                        address.address
                            span.address__skype shatterfry
                            span.address__email nik16s@mail.ru
                            span.address__phone +7 919 983 04 71
                            span.address__address г.Волгоград, ул. 64-й армии, д.38б

                    
                    
        .footer__row
            .footer-container
                .footer__copyright
                    .copyright © Владимир Астахов | Создано с любовью в LoftSchool | 2016