.section__title{
    color: #ffffff;
    font-size: 63px;
    text-transform: uppercase;
}

.page-title__text{
    text-align: center;
}

.speak__bg-img{
    width: 100%;
}

.opinions__list{
    list-style: none;
}