extends ../base
block head
    title login page
block content
    h1 авторизуйтесь
    form
        label(for="login") Логин
        input(name="login" id="login")
        label(for="password") Пароль
        input(name="password" id="password")
        a(href="#") На главную
        button Войти